<h1> Hi </h1>


<form #f="ngForm" (ngSubmit)="setResArr(selectedStar,id)">
  <p> <label>Select something</label>
    <select [(ngModel)]="selectedStar" name="stars">
      <option *ngFor="let star of stars" [ngValue]="star">{{star}}</option>
    </select>
    <label>Enter id</label>
    <input type='text' [(ngModel)]='id' name='id'>
  </p>

  <p> <button type="submit" [disabled]="!f.valid">Search</button>
  </p>
</form>

<div>
  <h5>{{result}}</h5>
</div>